<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Article</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="center">
            <h1>Articles Gallery</h1>
            <ul>
                <% list.forEach((item) => { %>
                    <li>
                        <div class="article-single">
                            <h2><%= item.title %></h2>
                            <p><%=item.description %></p>
                            <div>
                                <span class="likes">Likes:
                                    <%=item.likes%></span>
                            </div>
                            <div>
                                <span>UpVote</span>
                                <span>Downvote</span>
                            </div>
                            <div>
                                <button class="edit">Edit</button>
                                <button class="delete">Delete</button>
                            </div>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </div>
    </body>
</html>
